
/* ----------head-center----------- */
.head-center p{
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

/* ---------main-content---------- */
.main-content{
    width: 1480px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 1px 40px 50px;
    /* padding-top: 1px;
    padding-bottom: 50px; */
    font-size: 25px;
}

.main-content h1{
    font-size: 35px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 100px;
    color: rgb(143, 143, 143);

}

.main-content h2{
    margin-left: 50px;
}

.main-content ul{
    background-color: rgb(243, 243, 243);
    margin: 0 10px;
    padding: 20px 0;
    border-radius: 20px;
}

.main-content li{
    display: flex;
    flex-wrap: wrap;

    margin: 50px;
    gap: 20px;

    min-height: 61px;
    line-height: 61px;

}

.main-content input[type="text"]{
    font-size: 25px;
    height: 55px;

    border: 2px solid rgb(181, 181, 181);
    border-radius: 20px;
    padding-left: 20px;
}

.main-content input[type="checkbox"], .main-content input[type="radio"]{
    transform: scale(2);
    margin-top: 22px;
}

.main-content a{
    display: block;
    width: 140px;
    height: 70px;
    margin: 0 auto;
    text-decoration: none;
    background-color: orange;
    color: white;
    line-height: 70px;
    text-align: center;
}

/* ---------basic-information---------- */
.basic-information{}

.basic-information h1{}

.basic-information h2{}

.basic-information ul{}

.basic-information li{}

.basic-information input[type="text"]{}

input.actName, input.address{
    width: 1000px;
}

input.address{
    margin-left: 195px;
}

.basic-information input[type="checkbox"]{}

/* ---------act-settings---------- */
.act-settings{}

.act-settings h1{}

.act-settings h2{}

.act-settings ul{}

.act-settings li{}

.act-settings input[type="text"]{}

/* ---------act-intro---------- */
.act-intro{}

.act-intro h1{}

.act-intro h2{}

.act-intro ul{}

.act-intro li{}

.act-intro textarea{
    display: block;
    resize: none;
    width: 1300px;
    height: 1000px;
    font-size: 25px;
    line-height: 1.5;
    margin: 50px auto;

}

/* -------------left--------------- */

.left-button{
    /* float: left;
    box-sizing: border-box; */

    position: fixed;
    top: 240px;
    left: 40px;

    background-color: #fff;
    height: 70px;
    width: 180px;
    /* margin-top: 40px; */
    /* margin-left: 50px; */
    padding-left: 15px;
    border-radius: 35px;

    text-decoration: none;
    color: #000;

    display: block;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.52);

    transition: color .2s, background-color .2s, box-shadow .2s, transform .2s;
}

.left-button i, .left-button p{
    font-size: 25px;
    margin: 10px;
    line-height: 50px;
    float: left;

}

.left-button:hover{
    color: white;
    background-color: gray;
    box-shadow: 0 0 5px gray;

    transform: scale(1.1);

}
